<table class="table-data">
  <tr>
    <%= access_logs_sort_link :column => :name %>
    <%= access_logs_sort_link :column => :created_at %>
    <%= access_logs_sort_link :column => :controller %>
    <%= access_logs_sort_link :column => :action %>
    <%= access_logs_sort_link :column => :dns_name %>
  </tr>
  <%= render(:partial => "access_log" , :collection => @access_logs) %>
</table>

<div class="bottom-toolbar">
  <%= will_paginate @access_logs, :params=> {:controller => 'access_logs', :action => 'access_logs_change_page'} %>
</div> 
