<tr class=<%= cycle("even", "odd") %>>
  <td><%= link_to_remote_with_load_notifier access_log.name, :url => {:action => 'show', :access_log_id => access_log.access_log_id} %></td>
  <td><%= format_timestamp access_log.created_at %></td>
  <td><%=h access_log.controller %></td>
  <td><%=h access_log.action %></td>
  <td><%=h access_log.dns_name %></td>
</tr>
