<div class="display-control-wrapper">

  <h1>access log</h1>
  <hr class="display-top"> 
  <hr class="display-divide"> 

  <% display_list(@access_log) do |a| %>
    <%= display_list_attribute a, :dns_name %>
    <%= display_list_attribute a, :ip_address %>
    <%= display_list_attribute a, :created_at %>
    <%= display_list_attribute a, :uri %>
    <%= display_list_attribute a, :controller %>
    <%= display_list_attribute a, :action %>
    <%= display_list_attribute a, :http_user_agent %>
    <%= display_list_attribute a, :http_referer %>
    <%= display_list_attribute 'parameters', a.parameters.inspect %>
  <% end %>  
  
  <hr class="display-divide"> 
  <hr class="display-bottom"> 

</div>
