<%= render(:partial => "common/site_navigation") %>

<% content_for(:agent_navigation) do %>
  <% menu do %>
    <%= menu_content(:title => link_to_remote_with_load_notifier('users', :url => {:controller=> 'users', :action => 'users_summary'})) %>
    <%= menu_content(:title => link_to_remote_with_load_notifier('groups', :url => {:controller=> 'groups', :action => 'groups_summary'})) %>
    <%= menu_content(:title => link_to_remote_with_load_notifier('access log', :url => {:controller=> 'access_log', :action => 'access_log_summary'})) %>
  <% end %>
<% end %>

<div id = "agent-display">
  <%= render :partial => 'dashboard' %>
</div>    
