<%= render(:partial => "common/site_navigation") %>

<% content_for(:agent_navigation) do %>
  <% menu do %>
    <%= menu_content(:title => link_to_remote_with_load_notifier('dashboard', :url => {:controller=> 'services', :action => 'show_dashboard'})) %>
    <%= menu_content(:title => 'hardware') %>
    <%= menu_content(:title => 'network') %>
    <%= menu_content(:title => 'storage') %>
    <%= menu_content(:title => 'processes') %>
    <%= menu_content(:title => 'software') %>
  <% end %>
<% end %>

<div id = "agent-display">
  <%= render :partial => 'dashboard' %>
</div>    
