<div class="display-control-wrapper">

  <h1>cpu</h1>
  <hr class="display-top"> 
  <hr class="display-divide"> 

  <% display_list(@cpu) do |c| %>
    <%= display_list_attribute c, :count %>
    <%= display_list_attribute 'frequency', "#{c.frequency} #{c.frequency_units}" %>
    <%= display_list_attribute c, :vendor %>
    <%= display_list_attribute c, :model %>
    <%= display_list_attribute c, :created_at %>
    <%= display_list_attribute c, :updated_at %>
  <% end %>  
  
  <hr class="display-divide"> 
  <hr class="display-bottom"> 

</div>
