<div class="display-control-wrapper">

  <h1>group: <em><%= @system_group.name%></em></h1>
  <hr class="display-top"> 
  <hr class="display-divide"> 

  <% display_list(@system_group) do |g| %>
    <%= display_list_attribute g, :name %>
    <%= display_list_attribute g, :gid %>
    <%= display_list_attribute g, :created_at %>
    <%= display_list_attribute g, :updated_at %>
  <% end %>  
  
  <hr class="display-divide"> 
  <hr class="display-bottom"> 

</div>
