<table class="table-data">
  <tr>
    <%= system_users_sort_link :column => :name %>
    <%= system_users_sort_link :column => :uid %>
    <%= system_users_sort_link :column => :default_group %>
    <%= system_users_sort_link :column => :created_at %>
    <%= system_users_sort_link :column => :updated_at %>
  </tr>
  <%= render(:partial => "system_user" , :collection => @system_users) %>
</table>

<div class="bottom-toolbar">
  <%= will_paginate @system_users, :params=> {:controller => 'system_users', :action => 'system_users_change_page'} %>
</div> 
