<tr class=<%= cycle("even", "odd") %>>
  <td><%= link_to_remote_with_load_notifier(system_user.name, :url => {:action => 'edit', :system_user_id => system_user.system_user_id}) %></td>
  <td><%= system_user.uid %></td>
  <td><%= 'default group' %></td>
  <td><%= system_user.created_at %></td>
  <td><%= system_user.updated_at %></td>
</tr>
